---
import { Carousel} from "./carruseles/CarouselActividades";
const actividades = [
  {
    title: "Terapias Fisicas",
    descripcion:
      "Nuestras terapias fisicas son mas que simples sesiones; son experiencias que unen a nuestros residentes en un ambiente lleno de energia positiva y compañerismo.",

    caracteristicas: "(Individuales y grupales)",
    image: "./images/seccionActividades/terapia_fisica.webp",
  },
  {
    title: "Terapias Cognitivas",
    descripcion:
      "Adaptamos cada sesión a las necesidades únicas de nuestros residentes, estimulando mentes de manera personalizada promoviendo agilidad mental y bienestar emocional.",

    caracteristicas: "(Personalizadas por residente)",
    image: "./images/seccionActividades/terapia_cognitiva.webp",
  },
  {
    title: "Sábado buffet desayuno familiar",
    descripcion:
      "Una actividad diseñada para que los familiares de nuestros residentes compartan momentos especiales en un ambiente acogedor creando recuerdos significativos para ellos.",

    caracteristicas: "",
    image: "./images/seccionActividades/buffet_familiar.webp",
  },
  {
    title: "Eventos",
    descripcion:
      "Transformamos cada efeméride en un evento especial para nuestros residentes, organizando actividades temáticas que les brindan experiencias únicas y memorables.",

    caracteristicas: "",
    image: "./images/seccionActividades/eventos.webp",
  },
];
---

<section id="Actividades" class="relative translate-y-[50%] sm:translate-y-[10%] landing-section  h-screen w-full ">

    <img src="./images/seccionHabitaciones/habitaciones_patron.svg" alt="casa otoño" class="absolute top-0 left-0 w-full h-full object-cover z-0">
    
    
    <div class="flex flex-col items-center mx-5 sm:mx-8">
        <h1  class="font-spartan text-brick font-medium  text-start mt-5 pt-7 lg:pt-12 text-[2rem] sm:text-[2.5rem] sm:mt-7 sm:pt-6 sm:pl-20 ">
            Actividades
        </h1>

        <h2 class="font-spartan text-black font-light text-center max-w-[1200px] my-5 sm:my-7 sm:mt-7 text-[1.3rem] sm:text-[1.6rem] " >
            Descubre cómo enriquecemos la vida de nuestros residentes a través de diferentes actividades diseñadas para estimular la mente, fomentar la socialización y promover un envejecimiento activo y pleno.
        </h2>
        <div class="lg:hidden  w-full lg:w-[950px] xl:w-[1200px] flex justify-center items-center mb-10">
            <Carousel  client:load/>
        </div>
        
        <div class="font-spartan hidden w-full lg:w-[950px] xl:w-[1200px] lg:flex lg:justify-center lg:items-center my-10 ">
            <div class="grid grid-cols-4 gap-6">
              {actividades.map((actividad) => (
                <div  class="flex flex-col items-center bg-bgpagi rounded-lg shadow-lg overflow-hidden">
                  <img
                    src={actividad.image}
                    alt={actividad.title}
                    class="w-full h-48 object-cover"
                  />
                  <div class="p-4">
                    <h3 class="text-xl font-medium text-center">{actividad.title}</h3>
                    <p class="text-md text-gray-800 my-2">{actividad.descripcion}</p>
                    {actividad.caracteristicas && (
                      <p class="text-md text-gray-500 italic">{actividad.caracteristicas}</p>
                    )}
                  </div>
                </div>
              ))}
            </div>
          </div>
          

    </div>
</section>